/* Reset some default styles */
body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Century Schoolbook", serif;
}

/* Style the main bar */
.main-bar {
    background-color: #5E5E4B;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px;
}
.main-bar p {
    font-size: 14px;
}
.main-bar p {
    margin: 5px;
}

/* Style the main header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

/* Style the navigation */
.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    color: #4e4d4d;
    text-decoration: none;
}

.main-logo {
    padding: 0px 20px 0px 20px;
    border: 2px solid #000;
}

.main-logo p {
    font-size: 24px; /* Example font size for the logo */
    margin: 0; /* Remove margin to avoid extra spacing */
    font-weight: bolder;
}

.underline-box {
    border-bottom: 1px solid #000;
    padding: 10px;
}

.borderless-input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-button {
    background-color: #5E5E4B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
}

.fa-search {
    font-size: 15px;
}

.social-icons-container {
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-icon {
    color: #5E5E4B;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.main-content {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.image-container {
    flex: 3;
    position: relative;
}

.image-container img {
    padding-left:200px;
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 200px;
}

.overlay-text {
    transform: translateX(-50%);
    }

.overlay-text:nth-child(1) {
    font-size: 20px;
}

.overlay-text:nth-child(2) {
   font-size: 40px;
}

.overlay-text:nth-child(3) {
    font-size: 60px;
}

.overlay-text:nth-child(4) {
   font-size: 40px;
}
.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}
.shop-button {
    background-color: #5E5E4B;
    color: #fff;
    padding:10 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold; 
}

.favorite-title {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.favorite-block-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.favorite-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.text-left {
    padding: 100px 20px 20px 250px; 
}

.text-right {
    padding: 100px 200px 20px 50px;
}

.left-img {
    padding-left: 150px;
}
.right-img {
    padding-right: 150px;
}
.favorite-text-container h2, h4 {
    line-height: 1.5;
    font-family: "Century Gothic", sans-serif;
}

.image-favorite1,
.image-favorite2 {
    flex: 1;
    width: 100%;
    max-width: calc(50% + 150px);
    box-sizing: border-box;
}

.image-favorite1 img,
.image-favorite2 img {
    width: 100%;
    height: auto;
}

.shop-favorite-button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-favorite-button-style {
    border: 2px solid #5E5E4B;
    color: #383535;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.blog-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 20 100px;
}

.blog-section {
    flex: 1;
}
.blog-container img {
    width: 100%;
    height: auto;
    padding: 20 50px;
   
}

.blog-text-container{
    padding: 20 50px;
}

.link-blog{
    text-decoration: none;
    color: #5E5E4B;
}

/* Style for the footer container */
.footer-container {
    display: flex;
    justify-content: flex-end;
    padding: 50 200px;
    color: #333;
    height: auto;
    left: 200px;
}
.text-col{
    display: flex;
    flex-direction: column;
    
}
/* Style for each footer column */
.footer-column {
    flex: 1;    
    text-align: right;
}

.footer-text{
    background-color:#5E5E4B ;
    text-align: center;
    color: #fff;
    top: 20px;
}

.logo-column {
    flex: 0.5;
    text-align: center;
    padding: 10px;
}

.footer-column .text-col {
    display: block;
    color:#5E5E4B ;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-column h5 {
    font-size: 18px; 
    margin-bottom: 10px;
}

.footer-column .text-col:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
   
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    
    .main-nav {
        justify-content: center;
        padding: 16px; 
    }
      
    .social-icons-container {
        left: 30px; 
    }

    .text-container {
       top: 30px;
    } 

    .image-container img {
        padding-left:100px;
       
    }
.overlay-text:nth-child(1) {
    font-size: 16px;
}

.overlay-text:nth-child(2) {
   font-size: 24px;
}

.overlay-text:nth-child(3) {
    font-size: 32px;
}

.overlay-text:nth-child(4) {
   font-size: 24px;
}
.shop-button {
    font-size: 16px;
}
.favorite-title {
    font-size: 24px;
}

.text-left {
    padding: 0px 20px 0px 100px;
}

.text-right {
    padding: 0px 100px 20px 20px;
}

.left-img {
    padding-left: 50px;
}
.right-img {
    padding-right: 50px;
}
.favorite-text-container h2 {
     font-size:24px;
}
.favorite-text-container h4 {
    line-height: 1.3;
    font-size:18px;
}
.shop-favorite-button-style {
    padding: 5px 10px;
    font-size: 16px;
}

.footer-container {
    padding: 50 100px;
    left: 100px;
}

.blog-container img {
    width: 100%;
    height: auto;
    padding: 5 10px;
   
}

.blog-text-container{
    padding: 5 10px;
}

}

@media screen and (max-width: 480px) {
   
    .main-header {
        padding: 20px 0px; 
    }
    .image-container img {
        padding-left:70px;
     
    }
    .overlay-text {
        transform: translateX(-60%);
        }

    .shop-button {
    
        padding:5 10px;
        margin-bottom: 10px;
        font-size: 10px;
            
    }
    .favorite-title {
        font-size: 16px;
    }
    
    .favorite-text-container {
      flex: 1; 
    }
    .text-left {
        padding: 0px 20px 0px 50px;
    }
    
    .text-right {
        padding: 0px 50px 20px 50px;
    }
    
    .image-favorite1,
.image-favorite2 {
    flex: 1;
}
.left-img {
    padding-left: 50px;
}
.right-img {
    padding-right: 50px;
}

.favorite-text-container h2 {
     font-size:16px;
}
.favorite-text-container h4 {
    line-height: 1;
    font-size:12px;
}
    
.shop-favorite-button {
    padding-left: 0; 
}
    
    
.social-icons-container {
    left: 10px; 
}

.text-container {
    top: 30px;
} 


.overlay-text:nth-child(1) {
    font-size: 10px;
}

.overlay-text:nth-child(2) {
   font-size: 14px;
}

.overlay-text:nth-child(3) {
    font-size: 18px;
}

.overlay-text:nth-child(4) {
   font-size: 14px;
}

.shop-favorite-button-style {
    padding: 5px 10px;
    font-size: 12px;
}

.blog-container{
    flex-direction: column;
    align-items: center;
}
.footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    left: 50px;
}
.footer-column{
    text-align: center;
}

}
